$textColor: #fff;
$contentBackground: #fff;
$themeBackgroundColor: #21232e;
$themeTextColor: #2c2f3c;
$brandGreen: #699900;
$themeSecondaryColor: $brandGreen;
$wordMarkcolor: #14A0C7;
$headerBannerImage:  #8E7F66 url('../img/m-h-day.jpg') 50% no-repeat;
$gradientcolor: #2e5cd6;
$themeFontFamily: Hind;
$sectionBannertextColor: #adc3ce;
