$textColor: #fff;
$contentBackground: #21232e;
$themeBackgroundColor: #3b3f50;
$themeTextColor: #fff;
$themeSecondaryColor: #e3ac00;
$wordMarkcolor: #f84e3d;
$headerBannerImage:  #3d4144 url('../img/m-h-night.jpg') 50% no-repeat;
$gradientcolor: #942f52;
$themeFontFamily: Fresca;
$sectionBannertextColor: #d2d1c5;